#layout {
  min-height: 100%;
  background-color: #f7f7f7;
}
.tools_card{
  height: 100% !important;
  margin: 10px !important;
  background-color: #fff !important;
}
.tools_card .ant-tabs-card .ant-tabs-content {
  height: 100%;
  margin-top: -16px;
}

.tools_card > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  padding: 16px;
  background: #fff;
}
.tools_card > .ant-tabs-card > .ant-tabs-nav::before {
  display: none;
}
.tools_card > .ant-tabs-card .ant-tabs-tab {
  background: transparent;
  border-color: transparent;
}
.tools_card > .ant-tabs-card .ant-tabs-tab-active {
  background: #fff;
  border-color: #fff;
}

.tools_card .ant-tabs-content-holder {
  padding: 0 5px;
}