@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

*{
  font-size: 13px;
  font-family: "Quicksand";
}

#root{
  height: 100%;
  display: flex;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  padding: 5px;
}

::-webkit-scrollbar {
  display: none;
}